

._.DS_Store
.DS_Store

labs/._.DS_Store
labs/.DS_Store

#=====================================================


labs/avd_labs/avd_campus_fabric/clab-campusfabric/
labs/avd_labs/avd_campus_fabric/config_backup/
labs/avd_labs/avd_campus_fabric/documentation/
labs/avd_labs/avd_campus_fabric/reports/
labs/avd_labs/avd_campus_fabric/snapshots/

#=====================================================

labs/evpn/11_avd_asym_irb/clab-avdasymirb/
labs/evpn/11_avd_asym_irb/config_backup/
labs/evpn/11_avd_asym_irb/documentation/
labs/evpn/11_avd_asym_irb/reports/
labs/evpn/11_avd_asym_irb/snapshots/

labs/evpn/12_avd_asym_multihoming/clab-aamh/
labs/evpn/12_avd_asym_multihoming/config_backup/
labs/evpn/12_avd_asym_multihoming/documentation/
labs/evpn/12_avd_asym_multihoming/reports/
labs/evpn/12_avd_asym_multihoming/snapshots/

labs/evpn/13_avd_central_any_gw/clab-avdcentralgw/
labs/evpn/13_avd_central_any_gw/config_backup/
labs/evpn/13_avd_central_any_gw/documentation/
labs/evpn/13_avd_central_any_gw/reports/
labs/evpn/13_avd_central_any_gw/snapshots/

labs/evpn/14_avd_sym_irb/clab-avdirb/
labs/evpn/14_avd_sym_irb/config_backup/
labs/evpn/14_avd_sym_irb/documentation/
labs/evpn/14_avd_sym_irb/reports/
labs/evpn/14_avd_sym_irb/snapshots/

labs/evpn/15_avd_sym_irb_ibgp/clab-avdirb/
labs/evpn/15_avd_sym_irb_ibgp/config_backup/
labs/evpn/15_avd_sym_irb_ibgp/documentation/
labs/evpn/15_avd_sym_irb_ibgp/reports/
labs/evpn/15_avd_sym_irb_ibgp/snapshots/

labs/evpn/16_avd_sym_sa_multihoming/clab-samh/
labs/evpn/16_avd_sym_sa_multihoming/config_backup/
labs/evpn/16_avd_sym_sa_multihoming/documentation/
labs/evpn/16_avd_sym_sa_multihoming/reports/
labs/evpn/16_avd_sym_sa_multihoming/snapshots/

labs/evpn/17_mpls_evpn_irb/clab-mplsevpnirb/
labs/evpn/17_mpls_evpn_irb/config_backup/
labs/evpn/17_mpls_evpn_irb/documentation/
labs/evpn/17_mpls_evpn_irb/reports/
labs/evpn/17_mpls_evpn_irb/snapshots/

labs/evpn/18_mpls_ldp_l2evpn/clab-mplsl2evpn/
labs/evpn/18_mpls_ldp_l2evpn/config_backup/
labs/evpn/18_mpls_ldp_l2evpn/documentation/
labs/evpn/18_mpls_ldp_l2evpn/reports/
labs/evpn/18_mpls_ldp_l2evpn/snapshots/

#=====================================================

labs/evpn100/11_avd_asym_irb/clab-avdasymirb/
labs/evpn100/11_avd_asym_irb/config_backup/
labs/evpn100/11_avd_asym_irb/documentation/
labs/evpn100/11_avd_asym_irb/reports/
labs/evpn100/11_avd_asym_irb/snapshots/

labs/evpn100/12_avd_asym_multihoming/clab-aamh/
labs/evpn100/12_avd_asym_multihoming/config_backup/
labs/evpn100/12_avd_asym_multihoming/documentation/
labs/evpn100/12_avd_asym_multihoming/reports/
labs/evpn100/12_avd_asym_multihoming/snapshots/

labs/evpn100/13_avd_central_any_gw/clab-avdcentralgw/
labs/evpn100/13_avd_central_any_gw/config_backup/
labs/evpn100/13_avd_central_any_gw/documentation/
labs/evpn100/13_avd_central_any_gw/reports/
labs/evpn100/13_avd_central_any_gw/snapshots/

labs/evpn100/14_avd_sym_irb/clab-avdirb/
labs/evpn100/14_avd_sym_irb/config_backup/
labs/evpn100/14_avd_sym_irb/documentation/
labs/evpn100/14_avd_sym_irb/reports/
labs/evpn100/14_avd_sym_irb/snapshots/

labs/evpn100/15_avd_sym_irb_ibgp/clab-avdirb/
labs/evpn100/15_avd_sym_irb_ibgp/config_backup/
labs/evpn100/15_avd_sym_irb_ibgp/documentation/
labs/evpn100/15_avd_sym_irb_ibgp/reports/
labs/evpn100/15_avd_sym_irb_ibgp/snapshots/

labs/evpn100/16_avd_sym_sa_multihoming/clab-samh/
labs/evpn100/16_avd_sym_sa_multihoming/config_backup/
labs/evpn100/16_avd_sym_sa_multihoming/documentation/
labs/evpn100/16_avd_sym_sa_multihoming/reports/
labs/evpn100/16_avd_sym_sa_multihoming/snapshots/

labs/evpn100/17_mpls_evpn_irb/clab-mplsevpnirb/
labs/evpn100/17_mpls_evpn_irb/config_backup/
labs/evpn100/17_mpls_evpn_irb/documentation/
labs/evpn100/17_mpls_evpn_irb/reports/
labs/evpn100/17_mpls_evpn_irb/snapshots/

labs/evpn100/18_mpls_ldp_l2evpn/clab-mplsl2evpn/
labs/evpn100/18_mpls_ldp_l2evpn/config_backup/
labs/evpn100/18_mpls_ldp_l2evpn/documentation/
labs/evpn100/18_mpls_ldp_l2evpn/reports/
labs/evpn100/18_mpls_ldp_l2evpn/snapshots/












