management_interfaces:
  - name: Management1
    description: oob_management
    shutdown: false
    vrf: MGMT
    ip_address: {{ mgmt_ip_address }}
    gateway: 172.16.1.1
    type: oob
ethernet_interfaces:
  - name: Ethernet1
    description: {{ eth1_description }}
    type: routed
    shutdown: false
    ip_address: {{ eth1_ip_address }}

